{%extends 'base.html'%} {% block content %} {{ block.super}}
<header class="masthead" style="background:url('static/images/home.jpeg')center center fixed; background-repeat:no-repeat;background-size: cover; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; padding-bottom:20%;">
    <div class="intro-body content-section text-center ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-8 mx-auto ">
                    <h1 class="brand-heading " style="color:brown;font-size:450%;font-family: 'Pacifico';font-style: normal;font-weight: 400;">Cynthia Kasambuli</h1>
                    <br>
                    <br>
                    <br>
                    <p class="intro-text " style="font-family: 'Nunito Sans';font-style: normal;font-weight: 400;font-weight:bold;">I am a FULLSTACK web developer,really passionate about new creations and hungry for creative ideas.</p>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases -->
<section class="showcase " style="padding-top:5%; padding-bottom:5%">
    <div class="container p-0 ">
        <h2 class="text-center " style="text-decoration:underline;font-size:350%;font-family: 'Pacifico';font-style: normal;font-weight: 400;"> projects </h2>
        <!-- Looping through projects   -->
        {% for project in projects %}

        <div class=" row no-gutters " style="padding-bottom:20% ">

            <div class="col-lg-6 order-lg-2 text-white showcase-img ">
                <img src="{{ project.article_image.url}} " class="img-fluid " alt="Image ">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text ">
                <h2 class="text-center " style="color:brown;font-size:250%;font-family: 'Pacifico';font-style: normal;font-weight: 400;"> {{ project.title }} </h2>
                <p class="lead mb-0 " style="font-family: 'Nunito Sans';font-style: normal;font-weight: 400;">{{ project.project }} </p>
                <p>
                    <a href="{{ project.link }} ">link to deployed site</a>
                </p>
                <a href="https://github.com/brianmarete/github-user-lookup" target="_blank"><i class="fa fa-github fa-3x github" aria-hidden="true" title="View Source Code"></i></a>
            </div>
        </div>{% endfor %}

    </div>
</section>

<!-- skills section -->
<section id=" skills " class=" content-section text-center " style="padding-bottom:20%; background:url( 'static/images/wallpaper6.jpg')center center fixed; background-repeat:no-repeat;background-size: cover; -webkit-background-size: cover;-moz-background-size:cover;-o-background-size: cover;filter:alpha(opacity=10);-moz-opacity:0.3;-khtml-opacity: 1;">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-8 mx-auto ">
                <h2 style="color:brown;font-size:350%;font-family: 'Pacifico';font-style: normal;font-weight: 400;">skills</h2>

                <p style="font-family: 'Nunito Sans';font-style: normal;font-weight: 400;font-weight: 1000;">I am fluent in Javacsript and some of its frameworks like angular, Jquery, Python and some of its frameworks like django and flask and ofcourse html, css and bootstrap 3 and 4</p>
                <br>
                <p style="font-family: 'Nunito Sans';font-style: normal;font-weight: 400;font-weight: 1000;">If you don't find me polishing up on my skills, then I am probably somewhere with my photographer, posing for photos.</p>


            </div>
        </div>
    </div>
</section>
<br>

<!-- About Section -->
<section id="about " class="content-section text-center " style="padding-bottom:20% ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-8 mx-auto ">
                <h2 style="color:brown;font-size:350%;font-family: 'Pacifico';font-style: normal;font-weight: 400;">Contact</h2>


                <p style="font-family: 'Nunito Sans';font-style: normal;font-weight: 400;">Find more projects at <a href="https://github.com/kasambuli ">my github page</a>. The projects are open source, and you can use them for any purpose.</p>
                <p style="font-family: 'Nunito Sans';font-style: normal;font-weight: 400;">Contact me through my email <b>cynthiakasambuli@gmail.com<b></p>
            </div>
        </div>
    </div>
</section>
<br>


<!-- Footer -->
<footer class="footer bg-light " style="background-image: url( 'static/images/wallpaper2.jpg');background-repeat:no-repeat;background-size: 100%; ">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-2 h-100 "></div>
            <div class=" col-lg-8 h-100 text-center ">
                <ul class="list-inline mb-2 ">
                    <li class="list-inline-item ">
                        <a href="# "style ="color:brown" >About</a>
                    </li>
                    <li class="list-inline-item ">&sdot;</li>
                    <li class="list-inline-item ">
                        <a href="# "style ="color:brown">Contact</a>
                    </li>
                    <li class="list-inline-item ">&sdot;</li>
                    <li class="list-inline-item ">
                        <a href="# "style ="color:brown">Terms of Use</a>
                    </li>
                    <li class="list-inline-item ">&sdot;</li>
                    <li class="list-inline-item ">
                        <a href="# "style ="color:brown">Privacy Policy</a>
                    </li>
                </ul>
                <p class="small mb-4 mb-lg-0 "style ="color:black">&copy; CynthiaKasambuli 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-2 h-100 "></div>

        </div>
    </div>
</footer>
{% endblock %}